@use 'sass:color';

@import 'openDsylexicFonts';

// $font-color: #000;

$body-bg: #fff;
$main-container-bg: #eee;
$task-bg: #ddd;
$border-color: #000;

$body-font-color: #000;
$section-font-color: #000;
$font-emphasis-color: #00f;