@use 'sass:color';

@import 'openDsylexicFonts';

// $font-color: #000;

$body-bg: #000;
$main-container-bg: #111;
$task-bg: #222;
$border-color: #fff;

$body-font-color: #fff;
$section-font-color: #fff;
$font-emphasis-color: #f3f;