@use 'sass:color';

// $font-color: #000;

$body-bg: #000;
$main-container-bg: #000;
$task-bg: #000;
$border-color: #000;

$body-font-color: #000;
$section-font-color: #000;
$font-emphasis-color: #000;

// Do NOT Change Font Sizes
$font-h1: bolder 48px / 52px 'Arial';
$font-h2: bold 28px / 48px 'Arial';
$font-h3: 28px / 32px 'Arial';
$body-font: 16px / 18px 'Arial';
$body-font-emph: italic 16px / 18px 'Arial';