@use 'sass:color';

body {
  background: $body-bg;
  color: $body-font-color;
  font: $body-font;

  ::placeholder {
    font-size: 18px;
    line-height: 20px;
  }
}

main {
  padding: 30px 10%;
  background: $main-container-bg;
  min-height: calc(100vh - 80px);
  height: auto;
}

h1 {
  font: $font-h1;
}

h2 {
  font: $font-h2;
}

h3 {
  font: $font-h3;
}

h1, h2, h3 #quirks {
  text-align: center;
  margin: 5px 0;
}

input {
  border: $border-color solid 2px;
  border-radius: 5px;
  height: 24px;

  &[name="delete"] {
    background: #f44;
    color: #fff;
  }
}

button, input[type="button"] {
  cursor: pointer;
}

// Capacity Select
select {
  font-size: 18px;
  color: black;

  &.Overloaded, option[value="overloaded"] {
    background: #f00;
    color: white;
  }
  &.Full, option[value="full"] {
    background: #66d;
    color: white;
  }
  &.Busy, option[value="busy"] {
    background: #6d6;
  }
  &.Medium, option[value="medium"] {
    background: #aaa;
  }
  &.Light, option[value="light"] {
    background: #ddd;
  }

  &:focus {
    border: blue solid 2px;
  }
}

#shortcuts {
  background: $task-bg;
  margin-bottom: 20px;
  padding: 30px;
  border: $border-color solid 1px;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  button {
    font-size: 18px;
    margin-top: 20px;
  }
}

#shortcuts table {
  width: 80%;
}

#shortcuts table td {
  border-bottom: #000 solid 1px;
  padding: 0 10px;
  line-height: 27px;
}

#quirks {
  width: auto;
}

#pre-task-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

#cute-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  textarea {
    width: 600px;
  }
}

#cute {
  max-width: 600px;
  height: auto;
  padding-bottom: 20px;
}

#output {
  font-size: 14px!important;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

#task-holder .task {
  background: $task-bg;
  border: $border-color solid 2px;
  padding: 5px;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(12, 1fr);
  grid-template-areas: 
    "pt tl tl tt tt tt tt tt tt bl bs bs"
    "pu tl tl tt tt tt tt tt tt hl hl ht"
    "pd sl sl st st st st st st hl hl ht"
    "pb sl sl st st st st st st db db db";
  align-items: center;

  label {
    text-align: center;
    padding: 0 20px;
    align-self: center;
  }

  .priority {
    padding: 3px;
    background: color.scale($task-bg, $lightness: 15%);
    text-align: center;
    font-size: 24px;
    color: color.scale($font-emphasis-color, $lightness: 20%);
  }

  .priority:hover {
    transition: 0.5s ease;
    padding-left: 30%;
    background: color.scale($task-bg, $lightness: -35%);
    color: color.scale($font-emphasis-color, $lightness: 50%);
    border-left: solid 10px $border-color;
    cursor: pointer;
  }

  .priority-top {
    grid-area: pt;
  }

  .priority-up {
    grid-area: pu;
  }

  .priority-down {
    grid-area: pd;
  }

  .priority-bottom {
    grid-area: pb;
  }

  label[for="taskname"] {
    grid-area: tl;
  }

  label[for="status"] {
    grid-area: sl;
  }

  label[for="blocked"] {
    grid-area: bl;
  }

  label[for="hours"] {
    grid-area: hl;
  }

  select[name="blocked"] {
    grid-area: bs;
    width: 40%;
    margin: 0 30%;
    text-align: center;
  }

  input[name="taskname"] {
    grid-area: tt;
  }

  input[name="status"] {
    grid-area: st;
  }

  input[name="hours"] {
    grid-area: ht;
    width: 80%;
    justify-self: center;
  }

  input[name="delete"] {
    grid-area: db;
    width: 60%;
    margin: 0 20%;
    align-self: center;
  }
}

#main-controls {
  background: $task-bg;
  border: $border-color solid 2px;
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-areas: "cl cs cs cs cs at gm";
  column-gap: 15px;
  align-items: center;


  label[for="capacity"] {
    grid-area: cl;
  }

  select {
    grid-area: cs;
  }

  input[name="addTask"] {
    grid-area: at;
  }

  input[name="generateMsg"] {
    grid-area: gm;
  }
}

#fallback {
  position: absolute;
  left: -99999px;
}

@media screen and (max-width: 800px) {

  main {
    height: auto;
  }
  form {
    flex-flow: column;
    row-gap: 10px;
    column-gap: 10px;
    width: 100%;
    padding: 10px 0;
  
    label {
      text-align: center!important;
      width: 100%!important;
    }
  
    input[type="text"] {
      font-size: 1.2em;
      line-height: 1.3em;
      width: 95%!important;
    }
    
    input[type="button"] {
      width: 95%!important;
    }
  }

  #task-holder form {
    border-bottom: #000 solid 1px;
  }
}